@model WorkWell.Models.JobVacancyInsert
@{
    ViewBag.Title = "Job_pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Job Vacancies</h2>
<div>
    @using (Html.BeginForm("AddJob", "JobVacancyInsert", FormMethod.Post))
    {
        <div>
            <label>Job Title</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.jtitle)
            @Html.ValidationMessageFor(m => m.jtitle)
        </div>
        <div>
            <label>Description:</label>
        </div>
        <div>
            @Html.TextAreaFor(m => m.des)
            @Html.ValidationMessageFor(m => m.des)
        </div>
        <div>
            <label>Experience:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.exp)
            @Html.ValidationMessageFor(m => m.exp)
        </div>
        <div>
            <label>Skills:</label>
        </div>
        <div>
            @Html.TextAreaFor(m => m.skills)
            @Html.ValidationMessageFor(m => m.skills)
        </div>

        <div>
            <label>Job Type:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.jtype)
            @Html.ValidationMessageFor(m => m.jtype)
        </div>
        <div>
            <label>Location:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.location)
            @Html.ValidationMessageFor(m => m.location)
        </div>
        <div>
            <label>Salary:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.salary)
            @Html.ValidationMessageFor(m => m.salary)
        </div>
        <div>
            <label>closing date:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.cdate)

        </div>
        <div>
            <input type="submit" value="Add Vacancy" />
            @Html.DisplayFor(m => m.jobmsg)
        </div>


    }
</div>

